.map {
  width: 98vw;
  height: 98vh;
  overflow: hidden;
  background-color: darkgrey;
  border-radius: 10px;
  margin: auto;
  margin-top: 1vh;
}

.map .ol-attribution.ol-uncollapsible {
  display: none;
}
