.map {
  width: 98vw;
  height: 98vh;
  overflow: hidden;
  background-color: darkgrey;
  border-radius: 10px;
  margin: auto;
  margin-top: 1vh;
}

.ol-attribution.ol-uncollapsible {
  display: none;
}

.ol-full-screen {
  top: 10% !important;
  right: 10px !important;
}

.ol-zoom {
  top: 15% !important;
  right: 10px !important;
  left: unset !important;
}

.ol-zoomslider {
  top: 25% !important;
  right: 10px !important;
  left: unset !important;
}

.ol-attribution.ol-uncollapsible {
  display: none;
}
